In [41]:
import random
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os
cwd = os.getcwd()
print(cwd)

C:\Users\Narul\Documents\Thesis\Jupyter Projects\disjReason\2SAT 2VAR

In [22]:
import pandas as pd
import math

df_train = pd.read_csv('./dataset/small_10K/train_data_10K.csv', sep=',', engine="python")
df_eval = pd.read_csv('./dataset/small_10K/eval_data_10K.csv', sep=',', engine="python")
df_test = pd.read_csv('./dataset/small_10K/test_data_10K.csv', sep=',', engine="python")

In [23]:
df_test.head()

,idx,is_inclusive,premise,question,label
0,1,1,Krystal is well-rounded or Laken is short-temp...,Krystal is well-rounded,1
1,2,1,Krystal is well-rounded or Laken is short-temp...,Krystal is not well-rounded,1
2,3,1,Krystal is well-rounded or Laken is short-temp...,Laken is short-tempered,1
3,4,1,Krystal is well-rounded or Laken is short-temp...,Laken is not short-tempered,0
4,5,1,Lacey is not below average or Nia is not warmh...,Lacey is below,0

In [24]:
df_eval = df_eval.apply(lambda x : True if x['is_inclusive'] == 1 else False, axis = 1)

num_rows_pos_eval = len(df_eval[df_eval == True].index)
num_rows_neg_eval = len(df_eval[df_eval == False].index)

print('Number of OR examples eval : ', num_rows_pos_eval)
print('Number of XOR examples eval : ', num_rows_neg_eval)

Number of OR examples eval :  488
Number of XOR examples eval :  512

In [25]:
df_train = df_train.apply(lambda x : True if x['is_inclusive'] == 1 else False, axis = 1)

num_rows_pos_train = len(df_train[df_train == True].index)
num_rows_neg_train = len(df_train[df_train == False].index)

print('Number of OR examples train : ', num_rows_pos_train)
print('Number of XOR examples train : ', num_rows_neg_train)

Number of OR examples train :  5016
Number of XOR examples train :  4984

In [26]:
df_test = df_test.apply(lambda x : True if x['is_inclusive'] == 1 else False, axis = 1)

num_rows_pos_test = len(df_test[df_test == True].index)
num_rows_neg_test = len(df_test[df_test == False].index)

print('Number of OR examples test : ', num_rows_pos_test)
print('Number of XOR examples test : ', num_rows_neg_test)

Number of OR examples test :  496
Number of XOR examples test :  504